
*{
  margin:0px ;
  padding:0px;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik Mono One', sans-serif;
}

section.box {
  height: 100vh;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.yellow{
  background-color: yellow;
}
